$colors: (
    white:#FFFFFF,
    black:#000000,
    menuColor:#160C28,
    buttonColor1:#BCE7FD,
    buttonColor2:#424651,
    textColor:#C5979D,
    sectionColor1:#4B8F8C,
    sectionColor2:#4A314D,
    naplesYellow:#EFCB68,
    slateGrey:#5F758E,
)